<div class="row justify-content-center font-size-10">
    <div class="col-auto">
        <table class="table table-hover ">
            <tbody>
                <tr>
                    <th>GitHub LogIn</th>
                    <td></td>
                </tr>
                <tr>
                    <th>GitHub Name</th>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2">GitHub Reposetories</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>