<% if notice %>
  <div class="alert alert-danger alert-dismissible fade show mt-2 ms-2 me-2" role="alert">
    <%= notice%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>